body {
  font-family: 'Red Hat Display', sans-serif;
  /*font-style: normal; */
}

/* Header overrides */

.header {
  margin: 0px 80px;
  padding: 16px 40px;
  background-color: transparent;
}

/* Fonts */

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
}

/*starts section one*/

.section-one {
  color: white;
  background: url(sofa.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-one-content {
  max-width: 1440px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.grettings {
  height: 87vh;
  padding-left: 50%;
  display: flex;
  align-items: center;
  margin: 0 80px;
}

.btn-outline-light {
  margin-left: 16px;
}

.section-two {
  max-width: 1440px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* final section one*/

/*starts section two*/

.section-two-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-title {
  text-align: center;
  margin-bottom: 80px;
}

.highlighted {
  display: grid;
  grid-template-columns: repeat(2, 1.2fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.highlighted-img>img {
  flex-grow: 1;
  width: 100%;
}

.highlighted-content {
  flex-grow: 1;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.section-three {
  background-color: royalblue;
}

/* final section two*/

/*starts section three*/

.sec-three-content {
  max-width: 1440px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 80px;
  margin-left: auto;
  margin-right: auto;
}

.title-sec-three {
  padding-bottom: 16px;
}

.content-sec-three {
  font-size: 20px;
  font-style: italic;
}

/* final section three*/

/* starts section four */

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 80px;
}

.title-sec-four {
  text-align: center;
  padding-bottom: 40px;
}

.wrapper-sec-four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showing {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1.2fr);
  grid-column-gap: 32px;
  margin-bottom: 40px;
}

.card {
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}

/* final section four */

/* Section five */

.title-sec-five {
  text-align: center;
  padding-bottom: 40px;
}

.imgs-sec-five {
  overflow-x: scroll;
  display: flex;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  position: relative;
}

.imgs-sec-five::-webkit-scrollbar {
  display: none;
}

.imgs-sec-five img {
  height: 200px;
  width: auto;
}

.btn-scroll {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(163, 153, 153, 0.1);
  top: 0;
  height: 100%;
  width: 50px;
  cursor: pointer;
}

.btn-scroll:hover {
  background: rgb(163, 153, 153, 0.3);
}

.btn-scroll .bi {
  font-size: 40px;
  color: white;
}

.btn-scroll-left {
  left: 0;
}

.btn-scroll-right {
  right: 0;
}

/* final section five */

/* Section six */

.sec-six-content {
  text-align: center;
  background-color: royalblue;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-sec-six {
  padding-bottom: 40px;
}

.group-list {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.group-list ul {
  padding-left: 0;
}

/* final section six*/