.cover-page img {
  width: 100%;
}

.cover-page-img img {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

/* First section */

.first-section {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.circles {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.circles .circle {
  border-radius: 50%;
}

.circles .circle-red {
  background-color: #FF6F5B;
  height: 150px;
  width: 150px;
}

.circles .circle-yellow {
  background-color: #F4AF33;
  height: 250px;
  width: 250px;
  transform: translateY(20px);
}

.circles .circle-blue {
  background-color: #54BFD7;
  height: 350px;
  width: 350px;
  transform: translateY(40px);
}

/* Company Introduction */

.company-introduction {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E8E3DB;
}

.company-introduction .title {
  margin-bottom: 50px;
  font-size: 52px;
}

/* Section brief */

.section-brief {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* Section outdated look */

.section-look {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E8E3DB;
}

.section-look .img-wrapper img {
  padding: 8px;
  overflow: hidden;
  height: 150px;
}

.section-look a {
  cursor: pointer;
}

.mobile-margin {
  margin-bottom: 20px;
}

.section-look .title {
  color: rgba(0, 0, 0, 0, 5);
  margin-left: -20px;
}

/* Medias */

@media screen and (max-width: 992px) {
  .first-section {
    justify-content: center;
  }
  .section-look .title {
    margin-left: 0;
  }
  .company-introduction .title {
    margin-bottom: 10px;
  }
  .section-brief {
    padding-bottom: 50px;
  }
}