.cover-page img {
  width: 100%;
}

.cover-page-img img {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

/* First section */

.first-section {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.first-section .title-wrapper {
  margin-bottom: 200px;
}

.first-section .title {
  font-size: 200px;
}

.first-section .sub-title {
  font-size: 96px;
}

.first-section .circles {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.first-section .circles .circle {
  border-radius: 50%;
}

.first-section .circles .circle-red {
  background-color: #FF6F5B;
  height: 150px;
  width: 150px;
}

.first-section .circles .circle-yellow {
  background-color: #F4AF33;
  height: 250px;
  width: 250px;
  transform: translateY(20px);
}

.first-section .circles .circle-blue {
  background-color: #54BFD7;
  height: 350px;
  width: 350px;
  transform: translateY(40px);
}

/* Company Introduction */

.company-introduction {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E8E3DB;
}

.company-introduction .title {
  margin-bottom: 50px;
  font-size: 52px;
}

/* Section brief */

.section-brief {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* Section outdated look */

.section-look {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E8E3DB;
}

.section-look .img-wrapper img {
  padding: 8px;
  overflow: hidden;
  height: 150px;
}

.section-look a {
  cursor: pointer;
}

.mobile-margin {
  margin-bottom: 20px;
}

.top-title {
  color: rgba(0, 0, 0, 0, 5);
  margin-left: -20px;
}

/* The Gab */

.section-the-gab {
  padding-top: 30px;
}

.section-the-gab .content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-the-gab .circles {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.section-the-gab .circle-wrapper {
  flex-grow: 0;
  text-align: center;
  padding: 0 5px;
}

.section-the-gab .circle-wrapper p {
  font-size: 12px;
}

.section-the-gab .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
}

.section-the-gab .logo-wrapper {
  padding-bottom: 20px;
  text-align: center;
}

.section-the-gab .logo-wrapper img {
  max-width: 100%;
  height: 50px;
}

/* Section Colors */

.section-colors {
  padding-bottom: 50px;
}

.section-colors .color-stripe .bottom-text p {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.section-colors .color-stripes {
  display: flex;
  height: 240px;
  max-width: 680px;
}

.section-colors .color-stripe {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

/* Shades */

.section-shades .squares {
  display: flex;
}

.section-shades .square {
  flex-grow: 1;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.section-shades .square p {
  margin: 0;
  font-size: 12px;
}

/* Medias */

@media only screen and (max-width: 992px) {
  .first-section {
    justify-content: center;
  }
  .top-title {
    margin-left: 0;
  }
  .company-introduction .title {
    margin-bottom: 10px;
  }
  .section-brief {
    padding-bottom: 50px;
  }
  .first-section .title-wrapper {
    margin-bottom: 100px;
  }
  .first-section .title {
    font-size: 150px;
  }
  .first-section .sub-title {
    font-size: 72px;
  }
}

@media only screen and (max-width: 768px) {
  .first-section .title {
    font-size: 100px;
  }
  .first-section .sub-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 576px) {
  .first-section .title {
    font-size: 64px;
  }
  .first-section .sub-title {
    font-size: 32px;
  }
}