body {
  font-family: "Azo Sans", sans-serif;
}

.cover-page img {
  width: 100%;
}

.cover-page-img img {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

/* First section */

.first-section {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.first-section .title-wrapper {
  margin-bottom: 200px;
}

.first-section .title {
  font-size: 200px;
}

.first-section .sub-title {
  font-size: 96px;
}

.first-section .circles {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.first-section .circles .circle {
  border-radius: 50%;
}

.first-section .circles .circle-red {
  background-color: #ff6f5b;
  height: 150px;
  width: 150px;
}

.first-section .circles .circle-yellow {
  background-color: #f4af33;
  height: 250px;
  width: 250px;
  transform: translateY(20px);
}

.first-section .circles .circle-blue {
  background-color: #54bfd7;
  height: 350px;
  width: 350px;
  transform: translateY(40px);
}

/* Company Introduction */

.company-introduction {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e8e3db;
}

.company-introduction .title {
  margin-bottom: 50px;
  font-size: 52px;
}

/* Section brief */

.section-brief {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* Section outdated look */

.section-look {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e8e3db;
}

.section-look .img-wrapper img {
  padding: 8px;
  overflow: hidden;
  height: 150px;
}

.section-look a {
  cursor: pointer;
}

.mobile-margin {
  margin-bottom: 20px;
}

.top-title {
  color: rgba(0, 0, 0, 0, 5);
  margin-left: -20px;
}

/* The Gab */

.section-the-gab {
  padding-top: 30px;
}

.section-the-gab .content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-the-gab .circles {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.section-the-gab .circle-wrapper {
  flex-grow: 0;
  text-align: center;
  padding: 0 5px;
}

.section-the-gab .circle-wrapper p {
  font-size: 12px;
}

.section-the-gab .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 auto;
}

.section-the-gab .logo-wrapper {
  padding-bottom: 20px;
  text-align: center;
}

.section-the-gab .logo-wrapper img {
  max-width: 100%;
  height: 50px;
}

/* Section Colors */

.section-colors {
  padding-top: 80px;
  padding-bottom: 50px;
}

.section-colors .color-stripe .bottom-text p {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.section-colors .color-stripes {
  display: flex;
  height: 100%;
  min-height: 120px;
  max-width: 680px;
}

.section-colors .color-stripe {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

/* Shades */

.section-shades {
  padding-bottom: 50px;
}

.section-shades .squares {
  display: flex;
}

.section-shades .square {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 0;
  padding: 5px;
}

.section-shades .square-grey {
  height: 110px;
}

.section-shades .square-shades {
  height: 70px;
}

.section-shades .square p {
  margin: 0;
  font-size: 12px;
}

/* Color Usability */

.section-usability {
  padding-bottom: 50px;
}

.section-usability .scale {
  background-color: #e6f3f6;
  padding: 30px;
  display: flex;
}

.section-usability .scale-wires {
  border: black dashed 1px;
  height: 10px;
  border-bottom: none;
}

.section-usability .scale-part p {
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

.section-usability .scale-bg {
  height: 60px;
}

/* Typeface */

.section-typeface {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #e8e3db;
}

.section-typeface .typeface-fonts {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  max-width: 500px;
}

.section-typeface p {
  margin-bottom: 3px;
}

/* Section Logo */

.section-logo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-logo .big-logo {
  text-align: center;
}

.section-logo .big-logo img {
  max-height: 200px;
}

.section-logo .full-logo {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.section-logo .full-logo img {
  max-width: 100%;
}

.section-logo .solo-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section-logo .solo-logo {
  flex-grow: 0.5;
  text-align: center;
  max-width: 200px;
  padding: 10px;
}

.section-logo .solo-logo img {
  max-width: 100%;
}

/* Section pattern */

.section-pattern {
  padding-top: 50px;
  padding-bottom: 60px;
}

.section-pattern img {
  max-width: 100%;
}

.section-pattern .shapes {
  display: flex;
  margin-bottom: 30px;
}

.section-pattern .shape {
  flex-grow: 1;
  text-align: center;
}

.section-pattern .shape img {
  max-width: 100px;
}

.section-pattern .divider {
  background-color: black;
  height: 1px;
  margin-bottom: 20px;
}

.section-pattern .snakes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.section-pattern .snake {
  flex-grow: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.section-pattern .snake img {
  max-width: 100px;
}

.section-pattern .snake img:nth-child(1) {
  position: absolute;
  transform: translateX(-7px);
}

.section-research_insight .content {
  padding: 50px 0 100px 0;
}

.section-brand_workshop .content {
  padding: 50px 0 100px 0;
}

.section-strategy .content {
  padding: 50px 0 100px 0;
}

.section-strategy {
  background-color: #e8e3db;
}

.section-strategy .circles {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section-strategy .circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: blue;
}

.section-strategy .circle p {
  margin: 0;
  font-size: small;
  padding-top: 5px;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section-how_to_use .img-label {
  position: absolute;
  display: flex;
}

.section-how_to_use .img-label p {
  flex-grow: 1;
  margin: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: small;
}

.section-how_to_use .img-label div {
  flex-grow: 1;
}

.section-how_to_use .img-label img {
  width: 80px;
}

/* Medias */

@media only screen and (max-width: 992px) {
  .first-section {
    justify-content: center;
  }

  .company-introduction .title {
    margin-bottom: 10px;
  }

  .section-brief {
    padding-bottom: 50px;
  }

  .first-section .title-wrapper {
    margin-bottom: 100px;
  }

  .first-section .title {
    font-size: 150px;
  }

  .first-section .sub-title {
    font-size: 72px;
  }
}

@media only screen and (max-width: 768px) {
  .top-title {
    margin-left: 0;
  }

  .first-section .title {
    font-size: 100px;
  }

  .first-section .sub-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 576px) {
  .first-section .title {
    font-size: 64px;
  }

  .first-section .sub-title {
    font-size: 32px;
  }
}